h3 {
  text-align: center;
  background: none;
  margin: 0;
  padding: 0px;
  font: 20px Trajan, serif;
  color: darkslategray;
  border-width: 2px 0;
}


.sketches {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  border-radius: 108px;
  width: 95%;
  margin: 0% 2%;
}

img {
      margin: -10px -10px;
      max-width: 258px;
}

/* For mobile phones: */
@media all and (max-width: 769px) {
  img {
        margin: -10px -10px;
        max-width: 25%;
        max-height: 25%;
  }
  li a {
      padding: 9px 10px;
      font: 12px Trajan, serif;
}
  h3{
    font: 14px Trajan, serif;
  }
}
