body {
  margin: 0%;
}

.barney {
  text-align: center;
}


.barney img{
  border-radius: 52%;
  width: 38%;
  margin: 2% 31% 0% 31%;
  height: 547px;
  box-shadow: 37px 8px 22px #615c5c;
}

p {
  font: bold 22px Georgia, serif;
}

@media all and (max-width: 769px) {
  .barney img {
    height: 213px;
  }

  p {
    font: bold 14px Georgia, serif;
}

}
