body {
  margin: 0%;
}

#images-section {
  margin: 2% 6%;
}

.col-md-4 {
  padding: 0;
}

 .pic1 {
  background-color: white;
  height: 200px;
}

.block1 {
  background: url("danielaname.jpg");
  height: 200px;
}

.block11 {
  background-color: black;
  height: 200px;
}



.pic2 {
  background-color: white;
  height: 245px;
  padding: 0;
}

.colombia {
  height: 245px;
  width: 640px;
}

.pic3 {
  background-color: white;
  padding: 0;
  height: 220px;
}

.block2 {
  background: url(myFace.jpg);
  height: 220px;
}

.block22 {
  background-color: black;
  height: 220px;
}

.block3 {
  background: url(facingright.jpg);
  height: 220px;
}

.block33 {
  background-color: black;
  height: 220px;
}

.cat {
  width: 337px;
  height: 220px;
}
