body {
  margin: 0;
  height: 100%;
}

ul {
    list-style-type: none;
    border-radius: 25px;
    box-shadow: -10px 12px 8px #615c5c;
    margin: 0px 10px;
    padding: 0;
    overflow: hidden;
    background-color: #262F34;
}

li {
    float: left;
}

li a {
    display: block;
    color: floralwhite;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    font: 19px Trajan, serif;
  }

.social-media a:hover, li a:hover {
    background-color: #F1D3BC;
}

.menu {
    width: 50%;
}
.social-media {
    width: 50%;
    float: right;
    padding-top: 0.5%;
    text-align: right;
}

.social-media a{
    margin: 0%;
    color: floralwhite;
    padding: 3% 1%;
}

.social-media a:last-child {
  padding-right: 17px;
}

@media all and (max-width: 769px) {
  li a {
  font: 14px Trajan, serif;
 }

 .social-media a{
   padding: 6% 1%;
 }

 .social-media i {
    font-size: 1.5em;
    margin-top: 2%;
}
}
